/* Consistent across each HTML*/

body {
    background-image: url(https://mcdn.wallpapersafari.com/medium/89/45/fGlJLQ.jpg);
    font-family: 'Source Serif Pro', serif;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

nav {
    background-color: black;
    color: white;
}

nav li {
    margin: 0 10px;
}

.container {
    margin: 60px auto;
    background-color: grey;
    color: white;
    border: 2px solid white;
    max-width: 80%;
}

.row {
    margin: 20px;
    padding: 20px;
}

.footer {
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0%;
    width: 100%;
}


/* For contact.html */

label {
    margin-bottom: 10px;
}


/* For index.html */

.about-me-img {
    width: 250px;
    height: 300px;
}